%h1 Listing My Campaigns

- @campaigns.each do |campaign|
  .panel.panel-default
    .panel-heading
      = campaign.name
    .panel-body
      %p
        = campaign.description
        = campaign.expires_at
        = link_to 'Show', dashboard_campaign_path(campaign)
