.btn {
  border: 0;
  border-radius: 100px;
  padding: 7px 40px;
  font-size: 16px;
  font-weight: 500;

  &:hover,
  &:active,
  &:focus,
  &:active:hover,
  &:active:focus,
  &:active.focus,
  &.active:hover,
  &.active:focus,
  &.active.focus {
    outline: 0;
  }
}

.btn-primary {
  background-color: $orange;

  &:hover,
  &:active,
  &:focus,
  &:active:hover,
  &:active:focus,
  &:active.focus,
  &.active:hover,
  &.active:focus,
  &.active.focus {
    background-color: darken($orange, 10%);
  }
}

// #{$all-buttons} {
//   appearance: none;
//   background-color: $action-color;
//   border: 0;
//   border-radius: $base-border-radius;
//   color: #fff;
//   cursor: pointer;
//   display: inline-block;
//   font-family: $base-font-family;
//   font-size: $base-font-size;
//   -webkit-font-smoothing: antialiased;
//   font-weight: 600;
//   line-height: 1;
//   padding: $small-spacing $base-spacing;
//   text-decoration: none;
//   transition: background-color $base-duration $base-timing;
//   user-select: none;
//   vertical-align: middle;
//   white-space: nowrap;

//   &:hover,
//   &:focus {
//     background-color: shade($action-color, 20%);
//     color: #fff;
//   }

//   &:disabled {
//     cursor: not-allowed;
//     opacity: 0.5;

//     &:hover {
//       background-color: $action-color;
//     }
//   }
// }
