@mixin campaigns-grid-list {
  .campaign-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    .campaign-item {
      flex-basis: 50%;

      .countdown {
        margin-top: 10px;
      }

      i {
        text-align: center;
      }

      a {
        &:active,
        &:focus,
        &:hover {
          text-decoration: none;
          color: $dark-grey;
        }
      }

      @media #{$xs-down} {
        flex-basis: 100%;
      }
    }
  }

  .campaign-panel {
    margin: 30px;

    .panel-heading {
      max-height: 220px;
    }

    .panel-body {
      position: relative;

      .single-campaign-link {
        position: absolute;
        right: 0;
        bottom: 0;
        margin: 5px;
      }
    }
  }
}
