@mixin campaigns-grid-list {
  .campaign-grid {
    display: flex;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: 0 auto;

    .campaign-item {
      flex-basis: 50%;
      display: flex;

      .countdown {
        margin-top: 10px;
      }

      i {
        text-align: center;
      }

      a {
        &:active,
        &:focus,
        &:hover {
          text-decoration: none;
          color: $dark-grey;
        }
      }

      @media #{$xs-down} {
        flex-basis: 100%;
      }
    }
  }

  .campaign-panel {
    margin: 30px;
    display: flex;
    flex-direction: column;

    .link-to-campaign {
      flex: 1 0 auto;
    }
  }
}
