@mixin campaigns-grid-list {
  .campaign-grid {
    display: flex;
    flex-wrap: wrap;
    max-width: 950px;
    margin: 0 auto;

    .campaign-item {
      flex-basis: 50%;
      display: flex;

      p {
        @media #{$sm-down} {
          font-size: 11px;
        }
      }

      @media #{$sm-up} {
        &:nth-child(2n + 1) {
          .campaign-panel {
            margin-right: 16px;
          }
        }

        &:nth-child(2n + 2) {
          .campaign-panel {
            margin-left: 16px;
          }
        }
      }

      .campaign-panel {
        display: flex;
        flex-direction: column;
        position: relative;

        .panel-body {
          padding: 8px;
          cursor: pointer;
        }
      }

      .campaign-title {
        @media #{$sm-down} {
          font-size: 16px;
        }
      }

      .campaign-image {
        position: relative;
        height: 0;
        padding-bottom: 50%;
      }

      .like-unlike-container {
        position: absolute;
        top: 10px;
        left: 10px;
      }

      .countdown {
        position: absolute;
        color: $white;
        background: $black;
        opacity: 0.7;
        right: 0;
        bottom: 0;
        padding: 0 10px 0 10px;
      }

      i {
        text-align: center;
      }

      a {
        &:active,
        &:focus,
        &:hover {
          text-decoration: none;
          color: $dark-grey;
        }
      }

      @media #{$xs-down} {
        flex-basis: 100%;
      }
    }
  }
}
