// Typography
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,800');

$base-font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
$heading-font-family: 'Raleway', 'Arial', 'Helvetica', sans-serif;

// Colors
$white: #fff;
$black: #000;
$grey: #f5f5f5;
$light-grey: #666;
$dark-grey: #3b4251;
$translucent-grey: rgba(0, 0, 0, 0.2);
$translucent-black: rgba(0, 0, 0, 0.5);
$green: #549f97;
$orange: #f0c447;
$yellow: #f7e2a5;
$red: #f00;


// Background Colors
$base-background-color: $grey;
