%header.business-header
  .container
    .row
      .col-lg-12
        %h1.tagline Baehl Business Hub
/ Page Content
.container
  %hr/
  .row
    .col-sm-8
      %h2 What We Do
      %p Introduce the visitor to the business using clear, informative text. Use well-targeted keywords within your sentences to make sure search engines can find the business.
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et molestiae similique eligendi reiciendis sunt distinctio odit? Quia, neque, ipsa, adipisci quisquam ullam deserunt accusantium illo iste exercitationem nemo voluptates asperiores.
      %p
        %a.btn.btn-default.btn-lg{ href: '#' } Call to Action »
    .col-sm-4
      %h2 Contact Us
      %address
        %strong Start Bootstrap
        = succeed '3481' do
          %br/
        = succeed 'Beverly' do
          %br/
        %br/
      %address
        %abbr{ title: 'Phone' }> P:
        (123) 456-7890
        %br/
        %abbr{ title: 'Email' } E:
        %a{ href: 'mailto:#' } name@example.com

