.swiper-container
  .swiper-wrapper
    - @slider_items.each do |slider_item|
      .swiper-slide
        = link_to slider_item.link do
          %h2.slider-title= slider_item.title
          = image_tag(slider_item.slide_image.url(:medium), class: 'img-responsive')

  .swiper-pagination
  .swiper-button-next
  .swiper-button-prev

- if @campaigns.present?
  = render 'shared/campaigns_grid_list', collection: @campaigns
- else
  - if current_user.role == :tech_seeker
    .container.text-center
      %h2 You have no current campaigns.
      %p.no-campaigns-message Are you interested in launching a campaign towards our community of Tech Providers? One of our consultants will be contacting you shortly to see how we can help.
      %p.no-campaigns-message Alternatively, you can contact us at: <strong>info@baehl-innovation.com</strong> or <strong>+33 1 44 10 41 43</strong>
      %p.no-campaigns-message We look forward to speaking with you soon.
