%h1 Listing campaigns

- @campaigns.each do |campaign|
  .panel.panel-default
    .panel-heading
      = campaign.name
    .panel-body
      %p
        = campaign.description
        = campaign.expires_at
        = link_to 'Show', campaign
