.swiper-container
  .swiper-wrapper
    - @slider_items.each do |slider_item|
      .swiper-slide
        = link_to slider_item.link do
          %h2.slider-title= slider_item.title
          = image_tag(slider_item.slide_image.url(:medium), class: 'img-responsive')

  .swiper-pagination
  .swiper-button-next
  .swiper-button-prev

- if @campaigns.present?
  = render 'shared/campaigns_grid_list', collection: @campaigns
- else
  .container.text-center
    %h2 There’s nothing here yet! Are you interested in launching a campaign towards our community of Tech Providers? One of our consultants will be contacting you shortly to see how we can help. Alternatively, you can contact us at: info@baehl-innovation.com or +33 1 44 10 41 43  We look forward to speaking with you soon.
