%p#notice= notice

%p
  %b Name:
  = @campaign.name
%p
  %b Description:
  = @campaign.description
%p
  %b Expires at:
  = @campaign.expires_at

- unless @existing_proposed_solution.present?
  %button.btn.btn-primary.apply-now Apply Now
