body.campaigns {
  .red-heart {
    color: $red;
  }

  &.index {
    @include campaigns-grid-list;
    nav.navbar.tertiary {
      @media #{$sm-down} {
        min-height: 310px;
      }
    }

    .swiper-container {
      margin-top: 20px;
      max-width: 950px;
      height: auto;
      z-index: 0;

      @media #{$md-down} {
        width: 90%;
        height: auto;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: $white;
        display: flex;
        justify-content: center;
        align-items: center;

        @media #{$md-down} {
          width: 90%;
        }

        &.swiper-slide-active {
          @media #{$md-down} {
            width: 90%;
          }
        }

        .slider-title {
          position: absolute;
          left: 50%;
          top: 70%;
          transform: translate(-50%, -50%);
          color: $white;
        }
      }
    }

    .spinner-container {
      width: 100%;
      margin-top: 40px;
      margin-bottom: 20px;
    }

    .search-campaigns {
      display: inline-block;

      @media #{$sm-down} {
        width: 100%;
      }

      .search-container {
        margin: 19px;
        display: inline-block;

        @media #{$sm-down} {
          width: 100%;
          margin: 19px auto;

          .select2-container--bootstrap {
            margin: 0 auto;
          }
        }

        .country-search,
        .order-search,
        .sector-search {
          width: 200px;
        }
      }
    }
  }

  &.show {
    .flex-panel-heading {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        margin: 0;
      }
    }
  }
}
