body.campaigns {
  &.index {
    @include campaigns-grid-list;

    .spinner-container {
      width: 100%;
      margin-top: 60px;
    }

    .search-campaigns {
      display: inline-block;

      .search-container {
        margin: 19px;
        display: inline-block;

        .country-search,
        .order-search,
        .sector-search {
          width: 200px;
        }
      }
    }
  }
}
