body {
  &.users-devise-registrations,
  &.users-devise-sessions,
  &.devise-passwords,
  &.devise-confirmations,
  &.devise-sessions {
    &.new,
    &.create {
      .navbar-links {
        margin: 30px;
      }
    }

    .select-multiple {
      height: 150px;
    }

    p.info-label {
      font-size: 12px;
      line-height: 2;
    }
  }
}
