.footer {
  background-color: $orange;

  .footer-content {
    padding: 15px 8px 40px 0;
    margin: 0;
  }

  .space-fix-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .space-fix-2 {
    padding-left: 0;
  }

  .klusster-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;

    .footer-logo {
      flex: 1;
    }
  }

  .tcp-links {
    margin-top: 24px;
    padding-left: 15px;

    a:last-child {
      margin-left: 10px;
    }
  }

  .footer-items-container {
    margin-top: 10px;
    padding-left: 0;
    padding-right: 0;

    div {
      padding-left: 5%;
      padding-right: 5%;
    }

    div:first-child {
      position: relative;
      left: -7.5%;
    }

    div:last-child {
      position: relative;
      right: -7.5%;
    }
  }

  .footer-items-col {
    text-align: center;
  }

  .footer-social-media {
    margin-top: 6px;
    text-align: right;
  }

  p {
    color: $white;
  }

  .social-media-icons-container {
    span {
      margin-right: 8px;
    }

    span:last-child {
      margin-right: 0;
    }

    i {
      color: $white;
      font-size: 1.6em;
    }
  }

  a {
    color: $white;
  }

  .text-with-underline {
    a {
      text-decoration: underline;
    }
  }

  .text-no-underline {
    a {
      text-decoration: none;
    }
  }

  .lg-anchor-text {
    font-size: 1em;

    p {
      font-size: 1em;
    }
  }

  .sm-anchor-text {
    font-size: 0.7em;

    a {
      font-size: 1.1em;
    }
  }

  @media #{$sm-down} {
    .space-fix-2 {
      padding-left: 15px;
    }

    .tcp-links {
      margin-top: 10px;
    }

    .footer-items-container {
      div:first-child {
        margin-top: 25px;
        left: 0;
      }

      div:last-child {
        right: 0;
      }

      .footer-items-col {
        padding-left: 30px;
      }
    }

    .footer-items-col {
      text-align: left;
    }

    .footer-social-media {
      padding-left: 30px;
      margin-top: 12px;
      text-align: left;
    }
  }
}
