body.home {
  &.index {
    .video-header {
      height: 400px;
      background-color: $translucent-black;
      position: relative;

      .video-title {
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
        font-size: 38px;
        color: $white;
        margin: 0;
      }

      .video-caption {
        position: absolute;
        left: 50%;
        top: 55%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        color: $white;
        margin: 0;

        @media #{$sm-down} {
          top: 70%;
        }
      }

      .homepage-video {
        position: absolute;
        width: 100%;
        left: 50%;
        z-index: -100;
        transform: translate(-50%, -20%);
      }
    }

    .navbar-links {
      margin: 30px;
    }

    section {
      padding: 20px;

      &.login-and-info {
        display: flex;

        @media #{$sm-down} {
          flex-wrap: wrap;
        }

        .grid-column {
          margin: 0 20px;
          flex-basis: 50%;

          @media #{$sm-down} {
            margin: 20px;
            flex-basis: 100%;
          }

          .row,
          [class*='col-'] {
            height: 100%;
          }
        }

        .panel.panel-default {
          height: 100%;
          width: 100%;
        }
      }

      &.modal-links {
        margin-top: 15px;
        margin-bottom: 15px;

        i.fa {
          font-size: 150px;
        }

        img {
          display: inline;
        }
      }
    }
  }
}
