body.home {
  &.index {
    .video-header {
      height: 400px;

      .homepage-video {
        position: absolute;
        width: 100%;
        left: 50%;
        z-index: -100;
        transform: translate(-50%, -20%);
      }
    }

    .navbar-links {
      margin: 30px;
    }

    section {
      padding: 20px;

      &.login-and-info {
        .panel-body {
          p {
            font-size: 18px;
          }
        }
      }

      &.modal-links {
        margin-top: 15px;
        margin-bottom: 15px;

        img {
          display: inline;
        }
      }
    }
  }
}
