body.proposed-solutions {
  &.new {
    .panel-body {
      p.error {
        color: $red;
      }

      p.number-of {
        display: inline-block;
      }

      p.info-label {
        font-size: 12px;
        line-height: 2;
      }

      // scss-lint:disable SelectorFormat
      .proposed_solutions_attachment {
        margin-bottom: 5px;
      }
      // scss-lint:enable SelectorFormat

      .select2-container--bootstrap {
        display: inline-block;
      }

      .proposed-solution-form,
      .proposed-solution-form-title {
        margin-top: 15px;
      }
    }
  }
}
