body.proposed-solutions {
  &.new {
    .panel-body {
      p.error {
        color: $red;
      }

      p.number-of {
        display: inline-block;
      }

      .select2-container--bootstrap {
        display: inline-block;
      }

      .proposed-solution-form,
      .proposed-solution-form-title {
        margin-top: 15px;
      }
    }
  }
}
