.footer
  .row.footer-content
    .col-md-offset-4.col-md-4.text-center
      %h2 CONTACT
      %p Baehl Innovation
      %p 26th Floor, Montparnasse Tower
      %p 33 Avenue du Maine
      %p 75015 Paris
      %p Telephone: +33 (0)1 44 10 41 43

  .row.footer-content
    .col-md-12
      %p.legal-notes= footer_and_legal_notes
      = link_to 'Mentions Légales', 'http://baehl-innovation.com/mentions-legales/', class: 'footer-link'
